<!DOCTYPE html>
<html>
  <head>
    

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="css/main.css"/>

  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper nav-prop">
              <a href="#" class="logo">More-Recipes</span></a>
              <ul id ="nav-mobile" class="left">
                <li><a href="">Home</a></li>
                <li><a href="">Recipes</a></li>
                <li><a href="">About</a></li>
              </ul>

              <ul id="nav-mobile" class="right">
                  <li><a href="">Sign up</a></li>
                  <li><a href="">Sign in</a></li>
              </ul>
            </div>
          </nav>
      </div>  
    </header>
      <div class="outer-wrapper">

      </div>
    <footer>        
          <div class="container">
            <div class="copyright">
                © 2017 Copyright Text 
            </div>
          <a href="">Terms and Conditions</a> | <a href="">Policy</a>  | <a href="">Contacts</a>
          </div>
     </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>