<!DOCTYPE html>
<html>

<head>

  <title></title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="css/main.css" />
  <link type="text/css" rel="stylesheet" href="css/sign_up.css" />

</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper nav-prop">
          <a href="#" class="logo">More-Recipes</span></a>
          <ul id="nav-mobile" class="left">
            <li><a href="">Home</a></li>
            <li><a href="recipecatalog.html">Recipes</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
          </ul>

          <ul id="nav-mobile" class="right">
            <li><a href="signin.html">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="outer-wrapper">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="media/spaghetti.jpg" alt="">
          <div class="caption left-align">
            <h2 class="light black-text text-lighten-3">Welcome to the Home of Recipes</h2>
          </div>
        </li>
        <li>
          <img src="media/meat.jpg" alt="">
          <div class="caption left-align">
            <h2 class="light black-text text-lighten-3">More-Recipes - a haven for foodies</h2>
          </div>
        </li>
        <li>
          <img src="media/meatinpot.jpg" alt="Meat in a Dish">
          <div class="caption left-align">
            <h2 class="light black-text text-lighten-3">Delicacies that lift the Heart</h2>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <a href="#register" class="btn wave-effect button-format col s2 offset-s5 modal-trigger">Sign up Now!</a>
    </div>
    <div id="register" class="modal">
      <div class="modal-content">
          <h3>Sign up</h3>
          <div class="container">
              <form action="">
                  <div class="row">
                      <div class="input-field col s8 offset-s2">
                          <input id="first_name" type="text" class="validate">
                          <label for="first_name">First Name</label>
                      </div>
                      <div class="input-field col s8 offset-s2">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name">Last Name</label>
                      </div>
                      <div class="input-field col s8 offset-s2">
                          <input id="email" type="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                      <div class="input-field col s8 offset-s2">
                          <input id="password" type="password" class="validate">
                          <label for="password">Password</label>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <div class="modal-footer">
        <a href="" class="modal-action modal-close center waveseffect btn">Create Account</a>
      </div>
    </div>

  </div>

  <footer>
    <div class="container">
      <div class="copyright">
        © 2017 Copyright
      </div>
      <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {

      //initialize slider
      $('.slider').slider();

      //initialize modal
      $('.modal').modal();
    });
  </script>

</body>

</html>