<!DOCTYPE html>
<html>

<head>


  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="css/main.css" />

  <link type="text/css" rel="stylesheet" href="css/my_recipes.css" />

</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper nav-prop">
          <a href="#" class="logo">More-Recipes</span></a>
          <ul id="nav-mobile" class="left">
            <li><a href="">Home</a></li>
            <li><a href="Recipe Catalog.html">Recipes</a></li>
            <li><a href="">About</a></li>
          </ul>

          <ul id="nav-mobile" class="right">
            <li><a href="sign up.html">Sign up</a></li>
            <li><a href="sign in.html">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="outer-wrapper">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>My Recipes</h4>
      </li>
      <li class="collection-item">
        <div><a href="">Banga and Starch</a><a href="#!" class="secondary-content format-icon"><i class="material-icons ">delete</i></a>
          <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </div>
      </li>
      <li class="collection-item">
        <div><a href="">Moi-Moi</a><a href="#!" class="secondary-content format-icon"><i class="material-icons">delete</i></a>
          <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </div>
      </li>
      <li class="collection-item">
        <div><a href="">Egusi and Eba</a><a href="#!" class="secondary-content format-icon"><i class="material-icons">delete</i><a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></div>
      </li>
      <li class="collection-item">
        <div><a href="">Miyan Kuka and Tuwo Shinkafa</a><a href="#!" class="secondary-content format-icon"><i class="material-icons">delete</i></a>
          <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </div>
      </li>
    </ul>
    <a id="add-recipe-butt" class="waves-effect btn button-format right">Add New Recipe</a>
  </div>
  <footer>
    <div class="container">
      <div class="copyright">
        © 2017 Copyright
      </div>
      <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>