<!DOCTYPE html>
<html>

<head>

  <title>My Profile</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="css/main.css" />
  <link type="text/css" rel="stylesheet" href="css/profile.css" />

</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper nav-prop">
          <a href="#" class="logo">More-Recipes</span></a>
          <ul id="nav-mobile" class="left">
            <li><a href="">Home</a></li>
            <li><a href="recipecatalog.html">Recipes</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
          </ul>

          <ul id="nav-mobile" class="right">
              <li><a href="myrecipes.html">My Recipes</a></li>
            <li><a href="signin.html">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="outer-wrapper">
    <div class="content-wrap">
      <div class="profile">
        <h3 center>My Profile</h3>
        <div class="col s4">
          <div class="card #bdbdbd">
            <div class="card-content black-text">
              <div class="row">
                <div class="col s3">
                  <img class="responsive-img" src="media/profile.png">
                </div>
              </div>

              <div class="row">
                <div class="col s8">
                  <ul class="collection">
                    <li class="collection-item">
                      <h4>Name</h4>
                      <p>Marvin Gay</p>
                    </li>
                    <li class="collection-item">
                      <h4>Email</h4>
                      <p>marvy@gmail.com</p>
                    </li>
                    <li class="collection-item">
                      <h4>Sex</h4>
                      <p>Male</p>
                    </li>
                    <li class="collection-item">
                      <h4>Profession</h4>
                      <p>Chef</p>
                    </li>
                  </ul>
                </div>
              </div>


            </div>

          </div>
        </div>

      </div>
      <div class="favorites">
        <h3>My Favorites</h3>
        <div class="collection">
          <a href="#!" class="collection-item">Banga and Starch</a>
          <a href="#!" class="collection-item">Ewedu and Amala</a>
          <a href="#!" class="collection-item">Akara</a>
          <a href="#!" class="collection-item">Miyan Kuka and Tuwo Shinkafa</a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="copyright">
        © 2017 Copyright
      </div>
      <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>