<!DOCTYPE html>
<html>

<head>


  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="css/main.css" />

  <link type="text/css" rel="stylesheet" href="css/my_recipes.css" />

</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper nav-prop">
          <a href="#" class="logo">More-Recipes</span></a>
          <ul id="slide-out" class="side-nav">
            <li><a class="waves-effect side-link" href="recipecatalog.html">Third Link With Waves</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="recipecatalog.html">Recipes</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
            <li><a href="myrecipes.html">My Recipes</a></li>
            <li><a href="signin.html">Sign in</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="right button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down" >
            <li><a href="index.html">Home</a></li>
            <li><a href="recipecatalog.html">Recipes</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
          </ul>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="myrecipes.html">My Recipes</a></li>
            <li><a href="signin.html">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="outer-wrapper">
    <div class="container">

    
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>My Recipes</h4>
      </li>
      <li class="collection-item">
        <div><a href="recipedetails.html">Banga and Starch</a><a href="#!" class="secondary-content format-icon"><i class="material-icons ">delete</i></a>
          <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </div>
      </li>
      <li class="collection-item">
        <div><a href="recipedetails.html">Moi-Moi</a><a href="#!" class="secondary-content format-icon"><i class="material-icons">delete</i></a>
          <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </div>
      </li>
      <li class="collection-item">
        <div><a href="recipedetails.html">Egusi and Eba</a><a href="#!" class="secondary-content format-icon"><i class="material-icons">delete</i><a href="#!" class="secondary-content"><i class="material-icons">edit</i></a></div>
      </li>
      <li class="collection-item">
        <div><a href="recipedetails.html">Miyan Kuka and Tuwo Shinkafa</a><a href="#!" class="secondary-content format-icon"><i class="material-icons">delete</i></a>
          <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
        </div>
      </li>
    </ul>
    <a id="add-recipe-butt" class="waves-effect btn button-format right">Add New Recipe</a>
  </div>
  </div>
  <footer>
    <div class="container">
      <div class="copyright">
        © 2017 Copyright
      </div>
      <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
      $(document).ready(function () {
  
        $(".button-collapse").sideNav();
      });
  </script>
</body>

</html>