<!DOCTYPE html>
<html>

<head>

    <title>Recipe Details</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <link type="text/css" rel="stylesheet" href="css/main.css" />

    <link type="text/css" rel="stylesheet" href="css/details.css" />

</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper nav-prop">
                    <a href="#" class="logo">More-Recipes</span></a>
                    <ul id="nav-mobile" class="left">
                        <li><a href="">Home</a></li>
                        <li><a href="">Recipes</a></li>
                        <li><a href="">About</a></li>
                    </ul>

                    <ul id="nav-mobile" class="right">
                        <li><a href="">Sign up</a></li>
                        <li><a href="">Sign in</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="outer-wrapper">
        <div class="main-page">
            <h1>Recipe Title</h1>
            <img class="responsive-img" src="media/dinner.png">
            <div class="img-caption">
                <ul class="collection with-header">
                    <li class="collection-item">
                        <div><a href="">Empty Plate</a><a href="#!" class="secondary-content"><i class="material-icons">keyboard_arrow_down</i></a>
                            <a href="#!" class="secondary-content format-icon"><i class="material-icons">keyboard_arrow_up</i></a>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="group-format">
                <h2>Ingredients</h2>
                <ul>
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                    <li>item 4</li>
                    <li>item 5</li>
                </ul>
            </div>

            <div class="group-format">
                <h2>Steps</h2>
                <h3>Step 1</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Maecenas accumsan lacus vel facilisis volutpat. Faucibus in ornare quam viverra orci sagittis eu volutpat
                    odio. Hac habitasse platea dictumst quisque sagittis. Posuere lorem ipsum dolor sit amet. Ac odio tempor
                    orci dapibus. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum.
                </p>
                <h3>Step 2</h3>
                <p>
                    Sed libero enim sed faucibus turpis in. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Volutpat est
                    velit egestas dui id ornare arcu odio. Semper risus in hendrerit gravida rutrum quisque. Vulputate dignissim
                    suspendisse in est ante in. Orci sagittis eu volutpat odio facilisis mauris sit. Vel eros donec ac odio.
                    Id cursus metus aliquam eleifend mi. Id velit ut tortor pretium viverra suspendisse. Id venenatis a condimentum
                    vitae sapien pellentesque habitant.
                </p>
                <h3>Steps 3</h3>
                <p>
                    Orci nulla pellentesque dignissim enim sit amet. Risus at ultrices mi tempus imperdiet nulla. Quisque id diam vel quam elementum
                    pulvinar etiam. Aenean pharetra magna ac placerat vestibulum lectus. Enim tortor at auctor urna nunc
                    id. Vivamus at augue eget arcu dictum varius duis at. Dictumst quisque sagittis purus sit amet volutpat
                    consequat mauris nunc. Purus sit amet volutpat consequat mauris nunc congue. A scelerisque purus semper
                    eget duis at. Penatibus et magnis dis parturient montes nascetur ridiculus.
                </p>
            </div>

            <div class="review-wrap">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Reviews</h4>
                    </li>
                    <li class="collection-item">
                        <p>
                            Convallis aenean et tortor at. Sagittis nisl rhoncus mattis rhoncus urna neque viverra. Massa enim nec dui nunc mattis enim
                            ut. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. Senectus et netus et malesuada
                            fames ac turpis. Fames ac turpis egestas sed tempus.
                        </p>
                    </li>
                    <li class="collection-item">
                        <p>
                            Elementum curabitur vitae nunc sed velit dignissim sodales ut. Turpis in eu mi bibendum. Convallis aenean et tortor at. Porta
                            nibh venenatis cras sed felis eget velit aliquet. Et netus et malesuada fames ac turpis egestas.
                            Sit amet facilisis magna etiam tempor orci. Ullamcorper eget nulla facilisi etiam dignissim diam.
                        </p>
                    </li>
                    <li class="collection-item">
                        <p>
                            Amet consectetur adipiscing elit ut aliquam purus sit amet. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar.
                            Purus gravida quis blandit turpis.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="text-format">
                <form>
                    <textarea name="revieww" id="revie" cols="20" rows="10"></textarea>
                    <label for="review">Add your review</label>
                    <a class="waves-effect btn right button-format">Add New Review</a>
                </form>
            </div>



        </div>
    </div>
    <footer>
        <div class="container">
            <div class="copyright">
                © 2017 Copyright
            </div>
            <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>