<!DOCTYPE html>
<html>

<head>

  <title>Recipe Catalog</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="css/main.css" />
  <link type="text/css" rel="stylesheet" href="css/catalog.css" />

</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper nav-prop">
          <a href="#" class="logo">More-Recipes</span></a>
          <ul id="nav-mobile" class="left">
            <li><a href="index.html">Home</a></li>
            <li><a href="recipecatalog.html">Recipes</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
          </ul>

          <ul id="nav-mobile" class="right">
            <li class="search">
                <div>
                    <!-- <label for="search">Search Catalog</label> -->
                    <input id="search" type="search" placeholder="Search Catalog">   
                </div>
             
            </li>
            <li><a href="myrecipes.html">My Recipes</a></li>
            <li><a href="signin.html">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="main-catalog">
    <div id="catalog-view">
      <h2>Recipe Listing</h2>

      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/amala.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a>Amala and Ewedu</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/tofu_200_200.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a>Tofu</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/hamburger_200_200.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a>Hamburger</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/meat_200_200.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a>Lamb Chops</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>


    <div class="col s12">
      <div class="card horizontal">
        <div class="card-image col s4">
          <img src="media/vegie_200_200.jpg" class="responsive-image resize">
        </div>
        <div class="card-stacked col s8">
          <div class="card-content ">
            <p><a>Vegie</a></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Maecenas accumsan lacus vel facilisis volutpat.</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="popular-view">
    <div class="section">
      <h3>Popular</h3>
    </div>
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class="col s12">
            <img src="media/meatpot_400_200.jpg"  width="250" height="120" class="responsive-image">
            <a><span class="img-cap">Lamb Chops</span></a>
        </div>

        <div class="col s12">
            <img src="media/tofu_400_200.jpg" width="250" height="120" class="responsive-image">
            <a><span class="img-cap">Tofu</span></a>
          </div>

          <div class="col s12">
              <img src="media/vegmix_400_200.jpg" width="250" height="120" class="responsive-image">
              <a href=""><span class="img-cap">Vegetable Mix</span></a>
              
            </div>
      </div>
        
        
        
      
    </div>
  </div>
  
</div>
  <!-- main catalog -->
  <footer>
    <div class="container">
      <div class="copyright">
        © 2017 Copyright
      </div>
      <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
    </div>
  </footer>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    // let cardImage = document.querySelector('#hover-me');
    // cardImage.addEventListener('enter', (e) =>{
    //   console.log(e);
    // })
        //cardImage.getElementById('hider').style.display = "inline";
  </script>

</body>

</html>