<!DOCTYPE html>
<html>

<head>

  <title>Recipe Catalog</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="css/main.css" />
  <link type="text/css" rel="stylesheet" href="css/catalog.css" />

</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper nav-prop">
          <a href="#" class="logo">More-Recipes</span></a>
          <ul id="slide-out" class="side-nav">
              <li class="search">
                  <div>
                    <!-- <label for="search">Search Catalog</label> -->
                    <input id="search" type="search" placeholder="Search Catalog">
                  </div>
    
                </li>
            <li><a class="waves-effect side-link" href="recipecatalog.html">Third Link With Waves</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="recipecatalog.html">Recipes</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
            <li><a href="myrecipes.html">My Recipes</a></li>
            <li><a href="signin.html">Sign in</a></li>
          </ul>
          <a href="#" data-activates="slide-out" class="right button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down" >
            <li><a href="index.html">Home</a></li>
            <li><a href="recipecatalog.html">Recipes</a></li>
            <li><a href="myprofile.html">My Profile</a></li>
          </ul>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="search">
              <div>
                <!-- <label for="search">Search Catalog</label> -->
                <input id="search" type="search" placeholder="Search Catalog">
              </div>

            </li>
            <li><a href="myrecipes.html">My Recipes</a></li>
            <li><a href="signin.html">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="main-catalog">
    <div id="catalog-view" >
      <h2 class="hide-on-med-and-down">Recipe Listing</h2>
      <h4 class="hide-on-large-only">Recipe Listing</h4>

      <div class="col s12 staggered">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/amala.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a href="recipedetails.html">Amala and Ewedu</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 staggered">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/tofu_200_200.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a href="recipedetails.html">Tofu</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 staggered">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/hamburger_200_200.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a>Hamburger</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 staggered">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/meat_200_200.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a href="recipedetails.html">Lamb Chops</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="col s12 staggered">
        <div class="card horizontal">
          <div class="card-image col s4">
            <img src="media/vegie_200_200.jpg" class="responsive-image resize">
          </div>
          <div class="card-stacked col s8">
            <div class="card-content ">
              <p><a href="recipedetails.html">Vegie</a></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Maecenas accumsan lacus vel facilisis volutpat.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="popular-view" >
      <div class="section">
        <h3 class="hide-on-med-and-down">Popular</h3>
        <h4 class="hide-on-large-only">Recipe Listing</h4>
      </div>
      <div class="divider"></div>
      <div class="section">
        <div class="row">
          <div class="row">
            <div class="col s12">
              <img src="media/meatpot_400_200.jpg" width="250" height="120" class="responsive-image">
            </div>
            <div class="col s8 offset-s2">
              <a href="recipedetails.html"><span class="img-cap">Lamb chops</span></a>
            </div>
          </div>

          <div class="row">
              <div class="col s12">
                  <img src="media/tofu_400_200.jpg" width="250" height="120" class="responsive-image">
              </div>
              <div class="col s8 offset-s2">
                <a href="recipedetails.html"><span class="img-cap">Tofu</span></a>
              </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <img src="media/vegmix_400_200.jpg" width="250" height="120" class="responsive-image">
                </div>
                <div class="col s8 offset-s2">
                  <a href="recipedetails.html"><span class="img-cap center big">Vegetable salad</span></a>
                </div>
              </div>

        </div>




      </div>
    </div>

  </div>
  <!-- main catalog -->
  <footer>
    <div class="container">
      <div class="copyright">
        © 2017 Copyright
      </div>
      <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
    </div>
  </footer>


  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
      $(document).ready(function () {
  
        $(".button-collapse").sideNav();
      });
  </script>

</body>

</html>