<!DOCTYPE html>
<html>

<head>

  <title></title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <link type="text/css" rel="stylesheet" href="css/main.css" />
  <link type="text/css" rel="stylesheet" href="css/sign_up.css" />

</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper nav-prop">
          <a href="#" class="logo">More-Recipes</span></a>
          <ul id="nav-mobile" class="left">
            <li><a href="">Home</a></li>
            <li><a href="Recipe Catalog.html">Recipes</a></li>
            <li><a href="My Profile.html">My Profile</a></li>
          </ul>

          <ul id="nav-mobile" class="right">
            <li><a href="sign up.html">Sign up</a></li>
            <li><a href="sign in.html">Sign in</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="outer-wrapper">
    <div class="col s12">
      <div class="row">
        <div class="col s4 offset-s8">
          <div class="card-panel #000">
            <h3>Sign-up</h3>
            <form>
              <div class="space">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>

              <input id="password" type="password" class="validate">
              <label for="password">Profession</label>

              <a class="waves-effect btn right button-format">Sign in</a>

            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
  <footer>
    <div class="container">
      <div class="copyright">
        © 2017 Copyright
      </div>
      <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
    </div>
  </footer>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>