<!DOCTYPE html>
<html>

<head>

    <title></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <link type="text/css" rel="stylesheet" href="css/main.css" />

</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper nav-prop">
                    <a href="#" class="logo">More-Recipes</span></a>
                    <ul id="nav-mobile" class="left">
                        <li><a href="">Home</a></li>
                        <li><a href="">Recipes</a></li>
                        <li><a href="">About</a></li>
                    </ul>

                    <ul id="nav-mobile" class="right">
                        <li><a href="">Sign up</a></li>
                        <li><a href="">Sign in</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="outer-wrapper">
        <div class="content">
            <h2>Sign-up</h2>
            <div class="form-wrap">
                    <form>
                        <div class="space">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="space">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                        <div class="space">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="space">
                            <input id="profession" type="text" class="validate">
                            <label for="profession">Profession</label>
                        </div>
                        <input id="password" type="password" class="validate">
                        <label for="password">Profession</label>
                        <div class="space">
                            <input id="confirm" type="password" class="validate">
                            <label for="confirm"> Confirm Profession</label>
                        </div>
        
                        <label for="sex">Sex</label>
                        <p>
                            <input name="sex" type="radio" id="female" />
                            <label for="">Female</label>
                        </p>
                        <p>
                            <input name="sex" type="radio" id="male" />
                            <label for="test2">Male</label>
                        </p>
                        <a class="waves-effect btn right button-format">Register</a>
        
                    </form>
                </div>
        </div>
        


    </div>
    <footer>
        <div class="container">
            <div class="copyright">
                © 2017 Copyright
            </div>
            <a href="">Terms and Conditions</a> | <a href="">Policy</a> | <a href="">Contacts</a>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>