

.main-catalog {
    min-height: 50%;
    display: flex;
    margin: 2em 2em;
    justify-content: space-between;
}

img.resize {
    width: 150px;
    height: 200px;
}

.search-wrap {
    position: relative;
    float: right;
    margin: 0 4px;
}


#catalog-view {
    flex-basis: 67%;
    box-sizing: border-box;
    background-color: rgba(192, 59, 97, 0.3);
    padding: 0.4em 1em;
    border-radius: .4em;
}

#popular-view {
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: rgba(192, 59, 97, 0.3);
    padding: 0.4em 0.7em;
    border-radius: .4em;
}

#popular-view h5{
    text-align: center;
    font-size: 1.8em;
}

.img-cap {
    font-size: 1em;
    color: white;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

#search {
    border: 2px solid #000;
    background-color: #FFF;
    border-radius: 0.2em;
    line-height: 0.9em;
    width: 100%;
    color: black;
}




