p {
    padding: 0;
    margin: 0;
}
.main-page {
    background-color: rgba(192, 59, 97, 0.24);
    padding: 1.2em 2.6em;
}

img {
    border: 3px solid #0F0F0F;
    margin: 2em 0 0 4em;
    padding: 0;
}

.format-icon {
    margin: 0 0.5em;
}

.group-format {
    margin: 0 0 2em 4em;
    padding: 0;
}

.review-wrap {
    margin: 0 0 2em 4em;
    padding: 0;
    max-width: 80%;
    line-height: 1.4em;
}

.main-page h3 {
    text-align: center;
}

.collection {
    margin-left: 5em;
}

textarea {
    background-color: #fff;
}
