.main-page {
    background-color: rgba(192, 59, 97, 0.24);
    padding: 1.2em 2.6em;
}

img {
    border: 3px solid #0F0F0F;
    margin: 2em 0 0 4em;
    padding: 0;
}

.img-caption {
    max-width: 40%;
    margin: 0 0 2em 4em;
    padding: 0;
}

.group-format {
    margin: 0 0 2em 4em;
    padding: 0;
    max-width: 20em;
}

.review-wrap {
    margin: 0 0 2em 4em;
    padding: 0;
    max-width: 80%;
    line-height: 1.4em;
}