/*==== global styles ====*/

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #F1CAAC;
    color: rgba(43, 40, 40, 0.81);
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Dancing Script', Georgia, Times, serif;;
    color: #DD3644;
    font-weight: bold;
    line-height: 0.4rem;
}

h1 {
    font-size: 3.1rem;
    text-align: center;
    padding: 2em 1.5em;
}
h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 1.5em 1em;
}
h3 {
    font-size: 2.0rem;
    padding: 1em 0.7em;
}
h4 {
    font-size: 1.5rem;
    padding: 0.7em 0.5em;
}
h5 {
    font-size: 1.2rem;
    padding: 0.7em 0.4em;
}

a {
    color: #BE4E55;
    text-decoration: underline;
}

a:hover {
    color: #C05D63;   
}

.button-format {
    background-color: #66292D;
    margin: 0.4em 0;
    border: 1px solid #E7B58E;
}

.button-format:hover {
    background-color: #C05D63;
    color: #FDB7B7;
}


  /*==== header ====*/
  .nav-prop {
      background-color: #814C5B;
  }

  .nav-prop a {
      text-decoration: none;
  }

  nav .logo {
      position: relative;
      float: left;
      font-size: 2.1em;
      margin-left: 0.2em;
      margin-right: 1.5em;
      font-style: italic;
  }

  /*==== main-body ====*/

  .outer-wrapper {
    flex: 1 0 auto;
    width: 100%;
    min-height: 75vh;
    margin: 0 auto;
    padding: 2em 0;
  }

  .space {
      margin: 0 1em 2em 1em;

  }

  /*==== footer ====*/
  footer {
    background-color: rgba(210, 183, 197, 0.84);
    display: block;
    height: 10vh;
    padding-top: 20px;
  }

  .container {
      text-align: center;
  }

  footer .copyright {
      display: inline-block;
      margin-right: 1.2em;
      color: #E6A36D;
  }
  