/*==== global styles ====*/

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #FFCDB2;
    color: rgba(43, 40, 40, 0.81);

}

h1, h2, h3, h4, h5 {
    font-family: Georgia, Helvetica, 'Trebuchet MS', sans-serif;
    color: #DD3644;
    font-weight: bold;
}
h1 {
    font-size: 2.2rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    text-align: center;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.2rem;
}

a {
    color: #BE4E55;
    text-decoration: underline;
}

a:hover {
    color: #C05D63;   
}

.button-format {
    background-color: #66292D;
    border-radius: .8em;
}

.button-format:hover {
    background-color: #C05D63;
    color: #fff;
}


  /*==== header ====*/
  .nav-prop {
      background-color: #814C5B;
  }

  .nav-prop a {
      text-decoration: none;
  }

  nav .logo {
      position: relative;
      float: left;
      font-size: 2.1em;
      margin-left: 0.2em;
      margin-right: 1.5em;
      font-style: italic;
  }

  /*==== main-body ====*/

  .outer-wrapper {
    flex: 1 0 auto;
    width: 96%;
    min-height: 75vh;
    margin: 0 auto;
    padding: 2em 0;
  }

  .form-wrap {
      width: auto;
      border: 3px solid #F57E7E;
      padding: 3em 2em;
      margin: 4em 10em;
  }

  .space {
      margin: 0 1em 2em 1em;

  }

  /*==== footer ====*/
  footer {
    background-color: rgba(210, 183, 197, 0.84);
    display: block;
    height: 10vh;
    padding-top: 20px;
  }

  .container {
      text-align: center;
  }

  footer .copyright {
      display: inline-block;
      margin-right: 1.2em;
      color: #E6A36D;
  }
  