.content-wrap {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.profile {
    flex-basis:60%;
}

.favorites {
    flex-basis:25%;
}

img {
    margin: 1em 4em 0.8em 1em;
}